@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
}
.custom-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}