@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden; /* Mobile Shake Fix */
  width: 100%;
}

.custom-container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

/* Hide scrollbar for gallery */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}